/* TABLET VIEW */

@media screen and (max-width: 768px ) {
     .container {
        width: 90%;
     }
}

/* TABLET VIEW */

/* MOBILE VIEW */
@media  screen and (max-width: 480px) {
    
    .row {
        flex-wrap: wrap;
    }
    
    .lessons .col,
    .steps .col,
    .why-us .col-left,
    .why-us .col-right {
        width: 100%;
        margin-bottom: 3 rem;
    }

    .steps {
        margin-bottom: 0;
    }

    .why-us {
        background-color: black;
        padding: 3rem 0;
        margin-bottom: 0;
    }

}